<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">

	
	<bean id="birthDate" class="in.happycoding.bean.Date">
	
		<constructor-arg name="day" value="21" />
		<constructor-arg name="month" value="4" />
		<constructor-arg name="year" value="1995" />
	
	</bean>
	
	<bean id="admissionDate" class="in.happycoding.bean.Date">
	
		<constructor-arg name="day" value="10" />
		<constructor-arg name="month" value="6" />
		<constructor-arg name="year" value="2019" />
	
	</bean>
	
	<bean id="student" class="in.happycoding.bean.Student" autowire="byName" >
	
		<property name="rollNumber" value="123"/>
		<property name="name" value="Kalpna"/>
		
	</bean>
	
</beans>